DATABASE_URL=postgresql://usuário:senha@host:porta/banco?sslmode=no-verify
SPREADSHEET_ID=seu_id_da_planilha_aqui
APPS_SCRIPT_URL=sua_url_da_implantacao_aqui
BRIDGE_SECRET=MINHA_CHAVE_SUPER_SECRETA_123
NODE_ENV=development
TZ=America/Sao_Paulo
BATCH_SIZE=500
PORT=8080
